/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.class
Modulo_3/Aula3/target/
Modulo_4/SpringDataExemplo/target/

Modulo_1/desafios/Calculadora_de_Salario_Liquido/java-13/.gradle/
Modulo_1/desafios/Calculadora_de_Salario_Liquido/java-13/build/
Modulo_1/desafios/Criptografia_de_Julio_Cesar/java-6/.gradle/
Modulo_1/desafios/Criptografia_de_Julio_Cesar/java-6/build/
Modulo_1/desafios/Fibonacci/java-0/.gradle/
Modulo_1/desafios/Fibonacci/java-0/build/

Modulo_2/desafios/Controle_de_estacionamento/java-7/.gradle/
Modulo_2/desafios/Controle_de_estacionamento/java-7/build/
Modulo_2/desafios/Gerenciador_de_Times_de_Futebol/java-1/gradle/.gradle/
Modulo_2/desafios/Gerenciador_de_Times_de_Futebol/java-1/build/
Modulo_2/desafios/Media_Moda_e_Mediana/java-14/.gradle/
Modulo_2/desafios/Media_Moda_e_Mediana/java-14/build/

Modulo_3/desafios/Calculador_de_Atributos_de_Classe/java-8/.gradle/
Modulo_3/desafios/Calculador_de_Atributos_de_Classe/java-8/build/

Modulo_4/desafios/Criando_Entidades_de_Banco_de_Dados_em_Java/java-9/.gradle/
Modulo_4/desafios/Criando_Entidades_de_Banco_de_Dados_em_Java/java-9/build/

Modulo_5/desafios/Order_Service/java-15/.gradle/
Modulo_5/desafios/Order_Service/java-15/build/
Modulo_5/desafios/Criando_e_manipulando_entidades_no_Banco_de_dados_com_Spring/java-10/.gradle/
Modulo_5/desafios/Criando_e_manipulando_entidades_no_Banco_de_dados_com_Spring/java-10/build/

Modulo_6/desafios/Criando_endpoints_com_Spring/java-11/.gradle/
Modulo_6/desafios/Criando_endpoints_com_Spring/java-11/build/
Modulo_6/desafios/Gerador_de_frases_do_Monty_Python_utilizando_Spring_Boot_e_JPA/java-5/.gradle/
Modulo_6/desafios/Gerador_de_frases_do_Monty_Python_utilizando_Spring_Boot_e_JPA/java-5/build/

Modulo_7/desafios/Oauth2_com_Spring/java-12/.gradle/
Modulo_7/desafios/Oauth2_com_Spring/java-12/build/

Modulo_8/desafios/Refatorando_Formas_de_Pagamento/java-16/.gradle/
Modulo_8/desafios/Refatorando_Formas_de_Pagamento/java-16/build/
